#parent_div{
    width: 97vw;
    height:40vh;
    display: flex;
    justify-content: center;
}

#child_div{
    width: 60vw;
    height: 40vh;
    background-color: blue;
    border: 2px solid red;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* overflow: hidden; */
}

#btn button{
    margin-left: 45vw;
    padding: 10px 5px;
}



